@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>About Us</title>
<div id="body" align="center">





    <h2><font color="white">A Little Bit About COMPUTERINFO:</font></h2>


    <p>
        <font color="white">
            Today every one want to know about computer and<br />
            computer education has greater importance because <br />
            everything in today world are accessible through computer<br />
            over internet. Many people have knowledge about computer but <br />
            it is difficult to get quick introduction about any new or old <br />
            computer version for beginner and for other people over the internet <br />
            in Pakistan. This site provide a brief introduction of any computer version.
        </font>
    </p>


</div>



</body>
</html>
