@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Contact Us</title>
<div id="body">


    <hgroup class="title">
        <h1><font color="white">Contact.</font></h1>
    </hgroup>

    <section class="contact">
        <header>
            <h2><font color="white">Cell:</font></h2>
        </header>
        <p>
            <span><font color="white">0321-4131498</font></span>
        </p>

    </section>

    <section class="contact">
        <header>
            <h2><font color="white">Email:</font></h2>
        </header>
        <p>
            <span><a href="mailto:bitf12a012@pucit.edu.pk"><font color="white">bitf12a012@pucit.edu.pk</font></a></span>
        </p>

    </section>

    <section class="contact">
        <header>
            <h2><font color="white">Address</font></h2>
        </header>
        <p>
            <font color="white">Punjab University College Of Information Technology Lahore.</font>

        </p>
    </section>
</div>



</body>
</html>
